NEXT_PUBLIC_SEPOLIA_RPC_URL=
NEXT_PUBLIC_SEPOLIA_PRIVATE_KEY=
NEXT_PUBLIC_ASSET_CLAIM_CONTRACT_ADDRESS=

# Backend API URL (default: http://localhost:5000/api)
NEXT_PUBLIC_TRPC_URL=http://localhost:5002/trpc

# Contract addresses
NEXT_PUBLIC_LOTTERY_CLAIM_CONTRACT_ADDRESS=
